{% extends 'base.html'%} {% block title %} Photos {% endblock %} {% block
content %}

<br />
<br />
<br />
<br />
<br />
<br />

<h2>About Me</h2>
<div class="content-1">
  <p>
    Hi! I'm Milly, a teenage artist from Brisbane, Australia. I love to draw,
    but not just that! I'm also in the process of writing multiple books, and I
    love graphic design - specifically web design. This website was made for my
    Information Technology assessment on coding in HTML and CSS.
  </p>
  <p>
    I have 2 siblings, 2 dogs, and a cat, and as you might have seen from the
    website colour, my favourite colour is seafoam green! When I'm not writing,
    drawing, or coding, I play soccer as an attacking midfield or striker, and I
    also play Dungeons and Dragons.
  </p>
  <p>
    When it comes to art, I love character design and have a semi-cartoon art
    style. I especially love drawing people's D&D characters, as they're usually
    very creative and have interesting personalities.
  </p>
  <p>
    You might know me on other platforms as: @pixxeidust , @PixxeIDust (with a
    capital i instead of L), @PixxelDust , @arobe353 , or @QueenOfKittehCatz
  </p>
</div>

<hr />

{% endblock %}
