{% extends 'base.html'%} {% block title %} Contact Me {% endblock %} {% block
content %}

<br />
<br />
<br />
<br />
<br />
<br />

<h2>Contact Me</h2>
<div class="content-1">
  <p>
    If you'd like to contact me directly, my email is arobe353@eq.edu.au.
    However, I highly recommend contacting me through one of my accounts on
    another platform!
  </p>
</div>

<div class="icons">
  <div>
    <a class="icons--content" href="https://discord.com/">
      <i class="fa-brands fa-discord"></i>
      <span>Discord</span>
    </a>
  </div>
  <div>
    <a class="icons--content" href="https://www.instagram.com/">
      <i class="fa-brands fa-instagram"></i>
      <span>Instagram</span>
    </a>
  </div>
  <div>
    <a class="icons--content" href="https://www.tiktok.com/">
      <i class="fa-brands fa-tiktok"></i>
      <span>Tiktok</span>
    </a>
  </div>
  <div>
    <a class="icons--content" href="https://toyhou.se/">
      <i class="fa-solid fa-house-chimney"></i>
      <span>Toyhouse</span>
    </a>
  </div>
</div>

<div class="content-1">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis atque
    voluptatem explicabo ex ducimus quod, sunt accusantium debitis minima
    consectetur quasi qui. Hic tempora, earum esse odit fugit autem architecto?
  </p>
</div>

<hr />

{% endblock %}
