<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Milly's Server</title>
  </head>
  <body>
    <h2>Milly's Server</h2>

    <div class="content-1">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate animi
      molestiae amet blanditiis ut! Consectetur quos nihil dolores quod
      veritatis aperiam.
    </div>
  </body>
</html>
