{% extends 'base.html'%} {% block title %} Home {% endblock %} {% block content
%}

<br />
<br />
<br />
<br />
<br />
<br />

<h2>Home</h2>

<div class="content-1">
  <p>
    Welcome to my website! This is where I'll put some of my art to share with
    you. I love drawing, and especially character design - I hope you enjoy
    looking through my artworks. Happy browsing!
  </p>
  <p>
    If you're looking for the other content in my website, take a peek at the
    navigation bar at the top of the screen!
  </p>
</div>

<br />

<div class="image-verity">
  <div class="image-title">
    <span>Verity</span>
  </div>
</div>

<div class="image-aurea">
  <div class="image-title">
    <span>Aurea</span>
  </div>
</div>

<div class="image-nyx">
  <div class="image-title">
    <span>Nyx</span>
  </div>
</div>

<div class="image-delivery">
  <div class="image-title">
    <span>Delivery</span>
  </div>
</div>

<hr />
<div class="back-to-top-container">
  <a href="#" style="color: #91dad0; text-decoration: none">
    <div class="back-to-top">
      <span>Back to Top</span>
    </div>
  </a>
</div>

{% endblock %}
