{% extends 'base.html'%} {% block title %} Art {% endblock %}{% block content %}

<br />
<br />
<br />
<br />
<br />
<br />

<h2>Inspiration</h2>

<div class="content-1">
  <p>
    Every good artist has inspiration! This page will be a combination of
    emojis, colour palettes, and moodboards that inspire me to draw. Feel free
    to use them!
  </p>
  <p>
    Useful Resources:
    <ul>
      <li>
        <a href="">colormind.io - Colour Palette Generator</a>
      </li>
    </ul>
    
  </p>
</div>
{% endblock %}
