{% extends 'base.html'%} {% block title %} Art {% endblock %}{% block content %}

<br />
<br />
<br />
<br />
<br />
<br />

<h2>Inspiration</h2>

<div class="content-1">
  <p>
    Every good artist has inspiration! This page will be a combination of different media that inspires me to draw. Feel free
    to use them!
  </p>
  <p>
    Useful Resources:
    <ul>
      <li>
        <a href="http://colormind.io/">colormind.io - Colour Palette Generator</a>
      </li>
      <li>
        <a href="https://www.schemecolor.com/tools/color-scheme-generator">schemecolor.com - Color Palette Generator (With theme options)</a>
      </li>
      <li>
        <a href="https://perchance.org/moodboard-generator">perchance.org - Moodboard Generator</a>
      </li>
      <li>
        <a href="https://perchance.org/emoji">perchance.org - Emoji Combination Generator</a>
      </li>
    </ul>
    
  </p>
</div>

<div class="palette">
  <div class="palette--color" style="background-color:black;"></div>
  <div class="palette--color" style="background-color:rgb(99, 76, 76);"></div>
  <div class="palette--color" style="background-color:rgb(177, 120, 120);"></div>
  <div class="palette--color" style="background-color:rgb(218, 154, 154);"></div>
  <div class="palette--color" style="background-color:rgb(245, 199, 199);"></div>
</div>

<div class="palette">
  <div class="palette--color" style="background-color:#3d4f43;"></div>
  <div class="palette--color" style="background-color:#528A81;"></div>
  <div class="palette--color" style="background-color:#C1D2A8;"></div>
  <div class="palette--color" style="background-color:#D9E8C9;"></div>
  <div class="palette--color" style="background-color:#A64E1E;"></div>
</div>

<div class="palette">
  <div class="palette--color" style="background-color:#5F4F76;"></div>
  <div class="palette--color" style="background-color:#C24370;"></div>
  <div class="palette--color" style="background-color:#EC2C5B;"></div>
  <div class="palette--color" style="background-color:#E68E7A;"></div>
  <div class="palette--color" style="background-color:#ECD7BA;"></div>
</div>

<div class="palette">
  <div class="palette--color" style="background-color:#1F8879;"></div>
  <div class="palette--color" style="background-color:#FFDEA8;"></div>
  <div class="palette--color" style="background-color:#FDB159;"></div>
  <div class="palette--color" style="background-color:#F77F43;"></div>
  <div class="palette--color" style="background-color:#E12B2A;"></div>
</div>

<div class="palette">
  <div class="palette--color" style="background-color:#0D364A;"></div>
  <div class="palette--color" style="background-color:#0E8AA2;"></div>
  <div class="palette--color" style="background-color:#37B2C4;"></div>
  <div class="palette--color" style="background-color:#FFFFFF;"></div>
  <div class="palette--color" style="background-color:#E12B2A;"></div>
</div>

<div class="palette">
  <div class="palette--color" style="background-color:#3D0463;"></div>
  <div class="palette--color" style="background-color:#580271;"></div>
  <div class="palette--color" style="background-color:#FA01B3;"></div>
  <div class="palette--color" style="background-color:#970572;"></div>
  <div class="palette--color" style="background-color:#1E1A33;"></div>
</div>

<hr>
<div class="back-to-top-container">
  <a href="#" style="color: #91dad0; text-decoration: none">
    <div class="back-to-top">
      <span>Back to Top</span>
    </div>
  </a>
</div>

{% endblock %}
