<!--Theme Colours are on Flat UI Colours US Palette-- > html {
  height: 400vh;
}

body {
  background-color: #91dad0;
  font-family: "Quicksand", sans-serif;
}

h2 {
  color: #469187;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  margin: 10px;
}

.nav-title {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #469187;
  font-family: "Bebas Neue", cursive;
  font-size: 35px;
}

.nav {
  width: 100%;
  height: 90px;
  background-color: #57bdaf;
  position: fixed;
}

.flex-box {
  display: flex;
  height: 100%;
  color: #91dad0;
  justify-content: space-around;
  align-items: flex-start;
}

.nav-button {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: color 0.25s ease-in-out;
}

.nav-button:hover {
  color: #ffffff;
}

.content-1 {
  margin: 10px;
  color: #469187;
}
