html {
  height: 400%;
}

body {
  background-color: mintcream;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  color: #4d4d4d;
  font-size: larger;
  font-weight: bolder;
}

.para-box {
  border: solid black 1px;
  padding: 5px 10px;
}

.nav {
  width: 100%;
  height: 40px;
  background-color: #333333;
  position: fixed;
}

.flex-box {
  display: flex;
  height: 100%;
  color: #aaaaaa;
  justify-content: space-around;
  align-items: center;
}

.nav-button {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.nav-button:hover {
  color: #dddddd;
}

.content-1 {
  margin: 10px;
}
