<div class="nav">
  <div class="nav-title">
    <a class="link" href="/">
      <div class="nav-title-content">
        <span class="nav-title-text"
          ><i class="fa-solid fa-palette nav-title-icon"></i> Milly's Art
        </span>
      </div>
    </a>
  </div>
  <ul class="flex-box">
    <a class="nav-button link" href="/"
      ><li>
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      </li></a
    >
    <a class="nav-button link" href="/inspiration/"
      ><li>
        <i class="fa-solid fa-paintbrush"></i>
        <span>Inspiration</span>
      </li></a
    >
    <a class="nav-button link" href="/about/"
      ><li>
        <i class="fa-solid fa-circle-question"></i>
        <span>About Me</span>
      </li></a
    >
    <a class="nav-button link" href="/contact/"
      ><li>
        <i class="fa-solid fa-comment-dots"></i>
        <span>Contact Me</span>
      </li></a
    >
  </ul>
</div>
