<div class="nav">
  <div class="nav-title">
    <i class="fa-solid fa-palette"></i>
    <span>Milly's Art</span>
  </div>
  <ul class="flex-box">
    <a class="nav-button" href="/"
      ><li>
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      </li></a
    >
    <a class="nav-button" href="/inspiration/"
      ><li>
        <i class="fa-solid fa-paintbrush"></i>
        <span>Inspiration</span>
      </li></a
    >
    <a class="nav-button" href="/about/"
      ><li>
        <i class="fa-solid fa-circle-question"></i>
        <span>About Me</span>
      </li></a
    >
    <a class="nav-button" href="/contact/"
      ><li>
        <i class="fa-solid fa-comment-dots"></i>
        <span>Contact Me</span>
      </li></a
    >
  </ul>
</div>
